@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@font-face{
	font-family:"Futura BT";
	src:url("../font/futura-book-bt-22240.ttf");
	src:url("../font/futura-book-bt-22240.ttf").format("truetype");
	font-style: normal;
	font-weight: normal;
}
body{
		background-color: #fff;
	}
header{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		font-size:16px;
		margin-top: 22.5px;
	}
h1{
	color:#ee8129;
	font-family: "Futura BT";
	font-size:2.25em;
	text-align: center;
}
h1 span {
	color:#3070a8;
	text-transform:uppercase;
	font-weight: bold;
}
nav{
	font-family: "Open Sans";
	font-size: 0.88em;
	font-weight: 600;
	margin-top:10px;
}
nav a{
	text-decoration: none;
	color:#989898;
	text-transform: uppercase;
	padding: 0 15px 18px 15px;
}
nav a.active{
	border-bottom: 4px solid #3070a8;
	color:#3070a8;
}
div.banner{
	margin-top:12px;
	background-image: url("../img/banner.png");
	 background-position-y:50%; /* Положение фона */
	background-size:100%;
	font-size:16px;
	background-repeat: no-repeat;
	text-align: center;
	height: 585px;
	color:#fff;
	display: flex;
	justify-content: center;
	flex-direction: column;
	flex-wrap:wrap;
}
div.banner h2{
	
	font-size:2.25em;
	letter-spacing: 1px;
	font-family: "Futura BT";		
}
div.banner h2 span{
	font-size:1.33em;	
	text-transform:uppercase;	
}
div.banner p{
	font-weight:normal;
	font-style: italic;
	font-family: Calibri;
	font-size:1.25em;
	line-height: 30px;
}
div.banner button{
	font-size: 1em;
	color: #ffffff;
	font-weight: 600;
	font-family: "Open Sans";
	text-align: center;
	margin:0 auto;
	margin-top:41px;
	margin-bottom:53px;
	width: 245px;
	height: 57px;
	background-color: transparent;
	border: 1px solid #ffffff;
}
div.services{
	font-size: 16px;
}
div.services h2{
	margin-top:34.5px;
	font-size: 1.875em;
	line-height: 25px;
	color: #41525c;
	font-weight: bold;
	font-family: "Trebuchet MS";
	text-align: center;
}
div.services ul{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-bottom:31.5px;
}
div.services ul li figure span{
	display: flex;
	justify-content: center;
	
}
div.services ul li figure i{
	width: 141px;
	height:141px;
	margin-top:39px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 3em;
	color:#fff;
	background-color:#3070a8;
	border-radius:50%;
	box-shadow:  inset 0px 0px 10px 0px rgba(0,0,0,0.33);
	text-shadow: 0px 0px 10px rgba(0,0,0,0.33);
}
div.services ul li figure figcaption h3{
	margin-top:16.5px;
	font-size: 1.875em;
	letter-spacing: 1px;
	color: #3070a8;
	text-transform: uppercase;
	font-family: "Futura BT";
	text-align: center;
}
div.services ul li figure figcaption p{
	width:306px;
	margin-top:13.5px;
	font-size: 0.875em;
	
	color: #999999;
	font-weight: 400;
	font-family: "Open Sans";
	text-align: center;
}




/* Large desktops and laptops */
@media (min-width: 1200px) {
	header{
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}
	

}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px){
	header{
			display: flex;
			flex-direction: row;
			justify-content: space-around;
		}
		div.banner{
		 background-position-y:40%; /* Положение фона */
		 margin-top:-7px;
		}
		div.banner h2{
			font-size:2em;		
		}
		div.banner h2 span{
			font-size:1.20em;
		}
		div.banner p{
			font-size:1em;
		}
	
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	header{
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
	header h1{
		font-size: 3.5em;
    margin: 2% 0 0 0;
	}
	nav{
		display: none;
	}
	div.banner button{
		margin-bottom:100px;
		font-size:1.5em;
	}
	div.banner p{
	margin: 15px 40px 0 40px;
	font-size: 1.8em;
	}
		div.services h2{
			margin-left: 10px;
			margin-right: 10px;
			font-size: 2.875em;
    line-height: 50px;
		}
		div.services ul{
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
		div.services ul li figure figcaption p{
			width: auto;
			margin:0 auto;
			margin-left: 10%;
			margin-right:10%;
		}
}

/* Landscape phones and portrait tablets */
@media (min-width: 481px) and (max-width: 767px) {
	header{
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
	nav{
		display: none;
	}
	div.banner h2{
			margin-top:-22%;
			font-size:1.5em;	
			letter-spacing:0.5px	
		}
		div.banner h2 span{
			font-size:1.10em;

		}
		div.banner p{
			font-size:0.75em;
			line-height: 15px;
		}
		div.banner button{
			margin-top:20px;
			font-size: 0.5em;
			width: 120px;
			height: 28px;
		}
		div.services h2{
			margin-left: 10px;
			margin-right: 10px
		}
		div.services ul{
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
		div.services ul li figure figcaption p{
			margin:0 auto;
		}
	
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
	header{
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
	nav{
		display: none;
	}
	div.banner h2{
			margin-top:-40%;
			font-size:1em;	
			letter-spacing:0.25px;	
		}
		div.banner h2 span{
			font-size:1em;

		}
		div.banner p{
			font-size:0.50em;
			line-height: 10px;
		}
		div.banner button{
			margin-top:20px;
			font-size: 0.5em;
			width: 120px;
			height: 28px;
		}
		div.services h2{
			margin-left: 10px;
			margin-right: 10px
		}
		div.services ul{
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
		div.services ul li figure figcaption p{
			margin:0 auto;
			font-size: 2em;
		}

}